################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KgbChess/Application/bin
/.vs
/KgbChess/.vs/KgbChess
/KgbChess/Application/obj
/KgbChess/Chess/bin
/KgbChess/Chess/obj
/KgbChess/Engine/bin
/KgbChess/Engine/obj
/KgbChess/EvaluationEditor/bin
/KgbChess/EvaluationEditor/obj
/KgbChess/History/bin
/KgbChess/History/obj
/KgbChess/Stam/obj
/KgbChess/StatisticTool/bin
/KgbChess/StatisticTool/obj
/KgbChess/Testing/Debug
/KgbChess/Testing/Release
/KgbChess/TestingTool/obj
/KgbChess/TestStrategyTool/obj
/KgbChess/TestViewer/obj
/KgbChess/Tools/bin
/KgbChess/Tools/obj
/KgbChess/Tools.Common/bin
/KgbChess/Tools.Common/obj
/KgbChess/UI.Common/bin
/KgbChess/UI.Common/obj
